# Ignore saved model
Saved_Models/

#Ignore Datasets
*.zip
*.pyc
*.png
*.csv
__pycache__/
*.ipynb_checkpoints/
*.vscode/
Utils/__pycache__
Datasets/BloodMNIST
Datasets/FashionMNIST
Datasets/PneumoniaMNIST
Datasets/MedMNIST
Datasets/PlantLeaf
Datasets/UCMerced
Datasets/OrganMNISTCoronal
Datasets/PRMI
Datasets/Synthetic_Gray_Sigma_0.1
Datasets/Synthetic_RGB_Sigma_0.1
Datasets/KTH-TIPS2-b
Datasets/LeavesTex1200
Datasets/gtos-mobile
Datasets/Cassava
Datasets/PlantVillage
Datasets/DeepWeeds
Datasets/Lung Cells SEM Images_group1_DC
Datasets/Lung Cells SEM Images_group1_DC_overlap_NEW
Datasets/Lung Cells SEM Images_group1_ME
Datasets/Lung Cells SEM Images_group1_ME_overlap_NEW
Datasets/Lung Cells SEM Images_group1_NEW
Datasets/Lung_Cells_ME_Split_overlap
Datasets/Lung_Cells_DC_Split_overlap
Datasets/Lung Cells SEM Images_group1_ME_NEW
Datasets/Lung Cells SEM Images_group1_DC_NEW
Datasets/Lung Cells SEM Images_group1_DC_Split_overlap_1200
Datasets/Lung Cells SEM Images_group1_DC_Split_overlap
Datasets/Lung Cells SEM Images_group1_DC_Split_1200
Datasets/Lung Cells SEM Images_group1_DC_NEW_1200s